body,ul,li,div,p,span,h1,h2,h3,h4,h5,h6,i,a{
    margin: 0;padding:0;
} 
body{background-color: rgb(45, 44, 44);}
.myclass{
    background-color: black!important;
    color: white!important;
}
.myclass a{
    background-color: black!important;
    color: white!important;
    padding-left: 40px!important;
}
.nav-item a:hover{
    color: pink!important;
}
.hello{
    margin-top: 100px;
    color: white;text-align: center;
}
.hello1{
    color: pink;font-size: 40px;text-align: center;font-family: cursive;
}
.inside-text{
    border-top: 2px solid rgb(255, 129, 150);
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
}
.pic img{
    display: block;
  margin-left: auto;
  margin-right: auto;
    width: 80%;
    border: 2px solid pink;
    border-radius: 50%;
    margin-top: 50px;
    box-shadow: 0px 0px 25px pink;
}
.gap{
    margin-top: 100px;
}
.skills{
    float: left;
    margin-left: 100px;
    border: none;
    background-color: rgb(45, 44, 44);

}
.skills img{
    width: 20%;
}
.title{
    text-align: center;
    margin-top: 10px;
    color: rgba(255, 192, 203, 0.573);
    font-family: 'Times New Roman', Times, serif;
}
.me img{
    width: 50%;
    display: block;
    border: 2px solid pink;
    box-shadow: 0px 0px 25px pink;
    margin-left: auto;
    margin-right: auto;border-radius: 3%;
    margin-top: 100px;
}
.hello2{
    margin-top: 100px;
    color: white;text-align: center;
}
.hello3{
    color: pink;font-size: 40px;text-align: center;font-family: cursive;
}
.inside-text2{
    border-top: 2px solid rgb(255, 129, 150);
    margin-top: 5%;
}
.footer{
    margin-top: 60px;
}
.water{text-align: center;margin-top: 50px;}
.history{
    color: pink;
    font-family: cursive;
    margin-left: 10vw;
    margin-right: 10vw;
    text-align: center;
}
.get{
    color: white;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;

}
.form{
    color: white;
    float: left;
    font-family: cursive;
    margin-top: 25px;
    margin-left: 200px;
    text-align: center;
}
.input{
    background-color: black;border: 1px solid pink;border-radius: 8px;box-shadow: 0px 0px 10px burlywood;
    margin-left: 90px;
    margin-top: 25px;
}
.input1{
    background-color: black;border: 1px solid pink;border-radius: 8px;box-shadow: 0px 0px 10px burlywood;
    margin-left: 120px;
    margin-top: 25px;
}
.input2{
    background-color: black;border: 1px solid pink;border-radius: 8px;box-shadow: 0px 0px 10px burlywood;
    margin-left: 100px;
    margin-top: 25px;
}
.send{

    margin-top: 30px;
    margin-left: 350px;
    width: 120px;
    height: 30px;
    font-family: cursive;
    background-color: pink(71, 51, 25, 0.224);
    color: white;
    border: none;
    box-shadow: 0px 0px 15px pink;
    border-radius: 10px;
    font-size: 15px;
}
.send:hover{
    background-color: pink(218, 208, 195);
    color: black;
}